.color1 {
    color: darkmagenta;
}

/*RGB*/
/*00 - ff*/
.color2 {
    /*color: #4B0082;*/
    color: #000000;
}

.color3 {
    color: #ddd;
}

/*0 - 255*/
.color4 {
    color: rgb(30,160,0);
    /*opacity: 0.2;*/
}

.color5 {
    color: rgba(200,20,0,0.5);
}